p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
  text-align: right;
  margin-right: 20px;
}

.news-container {
  padding: 8px; 
  max-height: 700px; 
  overflow-y: auto; 
}

.news-item {
  border-bottom: 1px solid #ddd; /* Thin grey line separating items */
  padding-top: 4px;
  padding-bottom: 4px;
  
}

.news-item:last-child {
  border-bottom: none; /* Remove the border from the last item */
}

.news-link {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.news-link:hover {
  text-decoration: underline; /* Underline on hover for better user feedback */
}
