.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background-color: #1A4870;
    border-bottom: 1px solid #dee2e6;
    height: 40px;
  }
  
  .header-left h1 {
    margin: 0;
    font-size: 24px;
    color: white;
  }
  
  .header-right  {
    margin: 0;
    align-items: center;
    justify-content: space-between;
    width:max-content;
    display: flex;
    font-size: 18px;
    color: white; /* Ensures the username is white */
    margin-right: 10px; /* Space between username and icon */
  }
  
  .profile-icon {
    font-size: 24px; /* Size of the icon */
    color: white; /* White color for the icon */
  }
  