/* holdings.component.css */
.ng-container {
  font-family: "Roboto", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
}

/* Table container */
.table-container {
  max-height: 77vh;
  overflow-y: auto;
  display: block;
}

/* Table styling */
table {
  width: 70%;
  border-collapse: collapse;
}

thead th, tbody td {
  padding: 8px 20px; /* Add space between columns */
  text-align: left;
}

thead th {
  background-color: #1A4870; /* Blue background for headers */
  color: white; /* White text color */
}

tbody td {
  background-color: #fff; /* White background for cells */
}

tr:nth-child(even) td {
  background-color: #f9f9f9; /* Slightly different background for even rows */
}



.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
