  <div class="parent">
    <p>Watchlist</p>
    <div class="search-container">
      <input
        type="text"
        placeholder=" Search by long name"
        (input)="onSearch2($event)"
        [(ngModel)]="searchQuery"
        (focus)="showDropdown = true"
        (blur)="hideDropdown()"
      />
    
      <!-- Dropdown for displaying search results -->
      <div *ngIf="showDropdown && displayedTickers.length > 0" class="dropdown">
        <div
          *ngFor="let ticker of displayedTickers"
          class="dropdown-item"
          (mousedown)="onTickerSelect(ticker.longName)"
        >
          {{ ticker.longName}}  &nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <i class="fas fa-plus add-icon" (click)="addTicker(ticker)" title="Add to Watchlist"></i> -->
          <button (click)="addTicker(ticker.ticker)">ADD TICKER</button>
        
        </div>
      </div>
    </div>
    <div class="table-container">
    <table>
      <thead>
        <tr>
          <th style="color: white; background-color: #1A4870;">TICKER</th>
          <th style="color: white; background-color: #1A4870;">LONG NAME</th>
          <th style="color: white; background-color: #1A4870;;">CURRENT PRICE</th>
          <!-- <th>Date</th> -->
          <th style="color: white; background-color: #1A4870;">OPEN</th>
          <!-- <th>High</th> -->
          <!-- <th>Low</th> -->
          <th style="color: white; background-color: #1A4870;">CLOSE</th>
          
          <th style="color: white; background-color: #1A4870;">52 WEEK CHANGE</th>
         
          <th style="color: white; background-color: #1A4870;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticker of tickers">
          <b><td style="color: #1A4870;">{{ ticker }}</td></b>
          <!-- <td>{{ recentData[ticker]?.Date | date:'dd MMM yyyy' }}</td> -->
          <td style="color: #1A4870;">{{ tickerInfos[ticker]['info']['longName'] || 'N/A' }}</td>
          <td>{{ tickerInfos[ticker]['info']['currentPrice'] | currency:'USD' || 'N/A' }}</td>
          <td>{{ recentData[ticker]?.Open | number:'1.2-2' }}</td>
          <!-- <td>{{ recentData[ticker]?.High | number:'1.2-2' }}</td> -->
          <!-- <td>{{ recentData[ticker]?.Low | number:'1.2-2' }}</td> -->
          <td>{{ recentData[ticker]?.Close | number:'1.2-2' }}</td>
          <td [style.color]="tickerInfos[ticker]['info']['52WeekChange'] > 0 ? 'green' : (tickerInfos[ticker]['info']['52WeekChange'] < 0 ? 'red' : 'black')">
            {{ tickerInfos[ticker]['info']["52WeekChange"] | percent:'1.0-2' || 'N/A' }}</td>
          <td>
            <i class="fas fa-eye" (click)="openModal(ticker)" [title]="showHistoricalData[ticker] ? 'Hide Chart' : 'View Chart'"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div *ngIf="selectedTicker && showHistoricalData[selectedTicker]" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <app-prac
          [ticker]="selectedTicker"
          [stockData]="stockData[selectedTicker]"
        ></app-prac>
      </div>
    </div>
  </div>