<div id="container">
  <highcharts-chart 
    [Highcharts]="Highcharts" 
    [options]="chartOptions" 
    style="width: 100%; height: 1000px;">
  </highcharts-chart>
</div>
<div id="'butt">
  <button (click)="openModal()">VIEW TRANSACTIONS</button>
</div>
  

<!-- Modal structure -->
<div class="modal" [ngClass]="{'show': isModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Transaction Details</h2>
    <table>
      <thead>
        <tr>
          <th>Last Modified</th>
          <th>Price Per Unit</th>
          <th>Quantity</th>
          <th>Ticker</th>
          <th>Transaction ID</th>
          <th>Transaction Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.last_modified }}</td>
          <td>{{ transaction.price_per_unit }}</td>
          <td>{{ transaction.quantity }}</td>
          <td>{{ transaction.ticker }}</td>
          <td>{{ transaction.trans_id }}</td>
          <td>{{ transaction.trans_type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>